& {
  $trackedWidth: 200px;
  $blockHeight: 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 15px;

  #tracked-task-details {
    width: $trackedWidth;
    flex-shrink: 0;
    border-bottom: 1px solid black;
  }

  #time-container {
    position: absolute;
    left: $trackedWidth;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;

    .block {
      width: 10px;
      min-width: 10px;
      height: $blockHeight;
      cursor: pointer;

      &:nth-child(odd) {
        background: #2a3243;
      }

      &:nth-child(even) {
        background: #1b2539;
      }

      &:nth-child(5n) {
        border-right: 1px solid #5067b0;
      }
      &.checked {
        background-color: aquamarine;
        border-right: 1px solid #2da87e;
      }
    }
  }
}
