<h2 class="text-2xl">
  Days
  <Ui::Counter @value={{this.totalDays}} />
</h2>

{{#if this.days.loading}}
  Loading...
{{else}}
  <ul>
    {{#each this.days.data.trackedDaysPaginated.edges as |day|}}
      <li>
        <LinkTo @route="tracker.day" @model={{day.node.id}}>{{day-js date=day.node.date}}</LinkTo>
      </li>
    {{/each}}
  </ul>
{{/if}}