{{page-title "JikanGaAruClient"}}

<div class="container mx-auto">
  <div class="bg-blue-400">
    hello
  </div>

  <LinkTo @route="tracker">Tracker</LinkTo>
  |
  <LinkTo @route="chargecodes">Charge Codes</LinkTo>

  <UserList />
  <UserCreate />
  <br>
  {{outlet}}
</div>
