<h2 class="text-2xl">
  Users
  <Ui::Counter @value={{this.totalUsers}} />
</h2>

{{#if this.users.loading}}
  Loading...
{{else}}
  {{#each this.users.data.users as |user|}}
    Username: {{user.username}} <br>
  {{/each}}
{{/if}}